body {
	background: black;
	font-family: arial;
	font-size: 20pt;
}

#content-div {
	margin: auto;
	width: 30%;
}

p {
	font-size: 75%;
}

a {
	color: #ffff;
}

h1 {
	color: #ffff;
	font-size: 30pt;
}

input[type=text] {
	width: 30%;
	padding: 12px 20px;
	margin: 8px 0;
	box-sizing: border-box;
  }