{% extends 'base.html' %}
{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/startpage.css') }}">
<title>StartPage</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
{% endblock %}

{% block body %}
{%if setbackground == True%}
	background({{background}})

{%endif%}


<!--<a href="/settings"><input type="button" value="Settings"></a>-->
<a href="/settings" class="settings-icon"><i class="fa fa-gear"></i></a>


<div class="content-div">
	<div class="searchbar">
		<h1>StartPage</h1>
		<form id="searchbar" action="https://duckduckgo.com/?q=" class="searchform" method="get" name="searchform">
		<input name="sitesearch" type="hidden" value="">
		<input autocomplete="off" class="form-control search" id="searchtext" name="q" placeholder="Search With DuckDuckgo." type="text">
		</form>
	</div>
    {% for item in results %}
    <div class="object">
        <div class="object_icon">
            <a href="{{ item[2] }}">
                <img src="{{item[4]}}" width="90px">

                <p>{{ item[1] }}</p>
            </a>
        </div>
    </div>
    {% endfor %}
</div>

<script src="{{url_for('static', filename='js/main.js')}}"></script>

{%endblock%}