{% extends 'base.html' %}
{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/startpage.css') }}">
<title>StartPage</title>
{% endblock %}

{% block body %}
{%if setbackground == True%}
	background({{background}})

{%endif%}


<a href="/settings"><input type="button" value="Settings"></a>
<div class="content-div">
	<div class="searchbar">
		<h1>StartPage</h1>
		<form id="searchbar" action="https://duckduckgo.com/?q=" class="searchform" method="get" name="searchform">
		<input name="sitesearch" type="hidden" value="">
		<input autocomplete="off" class="form-control search" id="searchtext" name="q" placeholder="Search With DuckDuckgo." type="text">
		</form>
	</div>
    {% for item in results %}
    <h3>
        <p>{{ item[1] }}</p>
    </h3>
    {% endfor %}
</div>

<script src="{{url_for('static', filename='js/main.js')}}"></script>

{%endblock%}