{% extends 'base.html' %}
{% block head%}
<link rel="stylesheet" href="{{ url_for('static', filename='css/startpage.css') }}">
<link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
<title>StartPage</title>
{% endblock %}

{% block body %}
<a href="/settings"><input type="button" value="Settings"></a>
<div class="content-div">
	<div class="searchbar">
		<h1>StartPage</h1>
		<!--this is the searchbar-->
		<form id="searchbar" action="https://duckduckgo.com/?q=" class="searchform" method="get" name="searchform" target="_blank">
		<input name="sitesearch" type="hidden" value="">
		<input autocomplete="off" class="form-control search" name="q" placeholder="Search With DuckDuckgo." type="text">
		</form>
	</div>
	<!--Table for the pins-->
	<!--Removed the old hard coded links-->
	<!--This will be replaced with a table-->

	
	<table>
		<tr>
			{% for pin in pins %}
			<td>{{ pin.content }}</td>
			<td>{{ pin.date_created.date() }}</td>
			{% endfor %}
		</tr>
		<tr>
			<td>TEST TEXT</td>
			<td>TEST TEXT</td>
			<td>TEST TEXT</td>
			<td>TEST TEXT</td>
			<td>TEST TEXT</td>
			<td>TEST TEXT</td>
		</tr>
	</table>

</div>

<script src="{{url_for('static', filename='settings.js')}}"></script>

{%endblock%}